/*fond de page*/
body{
  margin-top: 1%;
  background-color: rgb(195, 215, 241);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  text-align: center;
  text-shadow: 2px 2px 5px rgb(167, 46, 160);
  font-size: 3rem;
}

h2{
  text-shadow: 2px 2px 5px rgb(51, 16, 245);
}

#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#menu1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: rgb(77, 184, 233);
  border: double;
  border-width: 0.5rem;
  color:black;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.1rem 0.1rem;
  cursor: pointer;  /*curseur de la souris en forme de doigt*/
  width: 35rem;
}

p{
  font-style: italic;
}

#pagepy{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#accueil{
  text-align: center;
}

#exos{
  text-align: center;
}

#formu{
  text-align: center;
}

#projet{
  text-align: center;
}

#py{
  text-align: center;
}

#install{
  text-align: center;
}
#lienpy{
  text-align: center;
}

#donnees{
  text-align: center;
}

#web{
  text-align: center;
}

#archi{
  text-align: center;
}

#structure{
  text-align: center;
}

#algo{
  text-align: center;
}

#pageArchi{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#micro{
  text-align: center;
}

/*les liens*/
a{          
  /*font-style: oblique;*/
  text-decoration: none;
}

a:link {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  color:blue;
}

/* visited link */
a:visited {
  color:blue;
}

a:hover {
  color: hotpink;
}

#retour{
  text-align: center;
  font-style: oblique;
  font-size: 1.4rem;
  color: rgb(136, 37, 7);
  text-shadow: 2px 2px 5px rgb(141, 21, 0);
}