/*fond de page*/
body{
  margin-top: 1%;
  background-color: rgb(59, 128, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  text-align: center;
}

#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: rgb(245, 168, 80);
  border: double;
  border-width: 0.5rem;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.1rem 0.1rem;
  cursor: pointer;  /*curseur de la souris en forme de doigt*/
  width: 40rem;
}


#py{
  text-align: center;
}

#donnees{
  text-align: center;
}